h1 OH WHATS UP BITCHES

.profilePhoto(ng-model="wallz.myProfile.firstname") 
h1 {{myProfile.firstname}}

button(ng-click="wallz.getWall()") Click


	
//- form
//- 	.form-group
//- 		label.control-label First Name
//- 		input.form-control(type="text", placeholder="John", ng-model="newProfile.people.firstname")
//- 	.form-group
//- 		label.control-label Last Name
//- 		input.form-control(type="text", placeholder="Doe", ng-model="newProfile.people.lastname")
//- 	.form-group
//- 		label.control-label Email
//- 		input.form-control(type="text", placeholder="abc@email.com", ng-model="newProfile.people.email")
//- 	.form-group
//- 		label.control-label Picture
//- 		input.form-control(type="url", placeholder="http://google.com/img.jpg", ng-model="newProfile.people.photo")
//- 	.form-group
//- 		label.control-label Password
//- 		input.form-control(type="text", placeholder="Dickfarts289", ng-model="newProfile.people.password")
//- 	button.btn(ng-click="newProfile.saveProfile()") Save
