h1 Angular Facebook

h3.loginBox Login
form(class='Login')
	.form-group
		label.control-label Email
		input.form-control(ng-model="auth.email")
	.form-group
		label.control-label Password
		input.form-control(ng-model="auth.password")
	button.btn.btn-primary(ng-click="auth.login()") Login
	button.btn.btn-primary(ng-click="auth.register()") Register

//- h2.newProfile Register
//- form
//- 	.form-group
//- 		label.control-label First Name
//- 		input.form-control(type="text", placeholder="John", ng-model="newProfile.people.firstname")
//- 	.form-group
//- 		label.control-label Last Name
//- 		input.form-control(type="text", placeholder="Doe", ng-model="newProfile.people.lastname")
//- 	.form-group
//- 		label.control-label Email
//- 		input.form-control(type="text", placeholder="abc@email.com", ng-model="newProfile.people.email")
//- 	.form-group
//- 		label.control-label Picture
//- 		input.form-control(type="url", placeholder="http://google.com/img.jpg", ng-model="newProfile.people.photo")
//- 	.form-group
//- 		label.control-label Password
//- 		input.form-control(type="text", placeholder="Dickfarts289", ng-model="newProfile.people.password")
//- 	button.btn(ng-click="newProfile.saveProfile()") Save

