doctype html
html(lang="en-US", ng-app="facebook-app")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Facebook
    link(rel="stylesheet", href="lib/build.css")
  body
    .container
      nav
        ul
          li: a(href="/#/") Wall
          li: a(href="/#/findFriends") Find Friends
          li: a(href="/#/myFriends") My Friends
          li: a(href="/#/people/new") Register
          li(ng-hide="auth"): a(href="/#/login") Login
          li(ng-show="auth"): a(href="/#/logout") Logout
      .app(ng-view)

    script(src="lib/build.js")
    script(src="js/main.js")
    script(src="js/person/new.controller.js")
    script(src="js/auth/login.controller.js")
    script(src="js/person/wall.controller.js")
    script(src="js/person/register.controller.js")
